
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Ayudando al projimo</h5>
                <p class="grey-text text-lighten-4">La primera plataforma de financiamiento colectivo (crowdfunding) dedicada para entidades sin fines de lucro.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Integrantes - Grupo 8</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3">Bragazzi, Julián</a></li>
                    <li><a class="grey-text text-lighten-3">Falon, Gabriel</a></li>
                    <li><a class="grey-text text-lighten-3">Hiroma, Fernando</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Programación Web 3 20192C © 2019 
        </div>
    </div>
</footer>