@model AyudandoAlProjimo.Data.ViewModels.PropuestaViewModel

<div class="input-field col s3">
    <i class="material-icons prefix">attach_money</i>
    @Html.EditorFor(x => x.Propuesta.PropuestasDonacionesMonetarias.FirstOrDefault().Dinero, new { htmlAttributes = new { @class = "validate", @id = "Dinero", disabled = true } })
    <label for="cash">Dinero</label>
</div>
<div class="input-field col s3">
    <i class="material-icons prefix">attach_money</i>
    @Html.EditorFor(x => x.Dinero, new { htmlAttributes = new { @class = "validate", @id = "Dinero", @required = true } })
    <label for="cash">Dinero</label>
    @Html.ValidationMessageFor(x => x.Dinero, "", new { @class = "text-danger" })
</div>
@* Solución temporanea *@
@Html.HiddenFor(m => m.CantidadHoras, new { @Value = 1 })