@model List<AyudandoAlProjimo.Data.Propuestas>
@{
    Layout = "~/Views/Shared/PropuestasLayout.cshtml";
    ViewBag.Title = "Busqueda propuesta";

    int id = (int)Session["ID"];
}

<h2>Buscar</h2>

<table>
    <tr>
        <th> columna 1</th>
        <th> columna 1</th>
        <th> columna 1</th>
    </tr>
    @foreach (var propuesta in @Model)
    {
        <tr>
            <th> @propuesta.FechaCreacion</th>
            <th> @propuesta.Descripcion</th>
            <th> @propuesta.Usuarios.Nombre</th>
        </tr>
    }
    </table>

