
@{
    Layout = "~/Views/Shared/PropuestasLayout.cshtml";
    ViewBag.Title = "Busqueda propuesta";

    int idUser = (int)Session["ID"];
}

<h2>Buscar</h2>

<div class="row">
    <form class="col s12" action="@Url.Action("Buscar", "Propuestas")" method="get">
        <div class="row">

                <input type="hidden" value="@idUser" name="id"/>

            <div class="input-field col s6">
                <input placeholder="Ingrese su busqueda" name="Busqueda" type="text" class="validate">
            </div>

            <div class="input-field col s6">
                <input type="submit" class="waves-effect waves-light btn">
            </div>
        </div>
    </form>
</div>

