@font-face {
    font-family: "WCManoNegraBta";
    src: url("WCManoNegraBta.otf") format("opentype")
}

.row.no-margin {
    margin: 0 !important;
}

m-2 {
    margin: 10px;
}

.margin-top-bottom-20 {
    margin: 20px 0;
}

.fixed-top-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.fixed-top-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.container-top-navbar {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
}

    .container-top-navbar a {
        margin: 0 5px;
    }

.parallax-title {
    font-family: 'WCManoNegraBta';
    z-index: 999;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
