@font-face {
    font-family: "WCManoNegraBta";
    src: url("WCManoNegraBta.otf") format("opentype")
}

body {
    position: relative;
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.row.no-margin {
    margin: 0 !important;
}

m-2 {
    margin: 10px;
}

.margin-top-bottom-50 {
    margin: 50px 0;
}

.fixed-top-navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    max-height: 46px;
}

.fixed-top-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.container-top-navbar {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
}

    .container-top-navbar a {
        margin: 0 5px;
    }

.parallax-title {
    font-family: 'WCManoNegraBta';
    z-index: 999;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.avatar-my-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-danger {
    color: red;
    font-weight: 500;
}