@font-face {
    font-family: "WCManoNegraBta";
    src: url("WCManoNegraBta.otf") format("opentype")
}

strong {
    font-weight: bold;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #ededed;
}

.d-flex {
    display: flex;
}

.row.no-margin {
    margin: 0 !important;
}

m-2 {
    margin: 10px;
}

.margin-top-bottom-50 {
    margin: 50px 0;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.fixed-top-navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    max-height: 46px;
}

.fixed-top-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.container-top-navbar {
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
}

    .container-top-navbar a {
        margin: 0 5px;
    }

.parallax-title {
    font-family: 'WCManoNegraBta';
    z-index: 999;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.avatar-my-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-danger {
    color: red;
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
}

    h2.no-margin {
        margin: 0;
    }

.title-propuesta {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 5px;
}

.title-autor-propuesta {
    color: #737373;
    font-size: 18px;
    margin-bottom: 15px !important;
    font-family: oswald;
}

.title-recaudado {
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: #696969;
}

.tabla-objetivos {
    padding: 0;
    margin: 0;
    margin-top: 20px;
    list-style: none;
    font-size: 16px;
    font-family: rubik,sans-serif;
    color: #696969; 
}

    .tabla-objetivos li {
        display: inline-block;
        margin-right: 20px;
    }

.info-text {
    font-size: 12px;
}

.container-card-propuestas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-card-propuestas div {
    padding: 0 0.75rem;
}