@{
    Layout = Session["ID"] == null ? "~/Views/Shared/AnonimoLayout.cshtml" : "~/Views/Shared/PropuestasLayout.cshtml";
    ViewBag.Title = "ConfirmEmail";
}

<h2>ConfirmEmail</h2>
<h>@ViewBag.Mensaje</h>
