@model List<AyudandoAlProjimo.Data.Denuncias>

@{
    Layout = "~/Views/Shared/PropuestasLayout.cshtml";
    ViewBag.Title = "Home Page";
}

<h2>Index admin</h2>

<div class="row">
    @foreach (var denuncia in @Model)
    {
        <div class="col m6 s12">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="materialboxed" src="https://media-cdn.tripadvisor.com/media/photo-s/16/72/0d/c7/monteagudo484.jpg">
                    <span class="card-title">@denuncia.FechaCreacion</span>
                </div>
                <div class="card-content">
                    <p>
                        @denuncia.Comentarios
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">Ver mas</a>
                </div>
            </div>
        </div>
    }
</div>


